<launch>
  <include file="$(find roar_simulation)/launch/spawn.launch" />
  <rosparam command="load" file="$(find apf_trials)/config/params.yaml" />
  <rosparam command="load" file="$(find AdaptivePurePursuit)/config/params.yaml" />

  <node pkg="apf_trials" name="APF_update" type="APF_update.py" output="screen"/>

  <node pkg="AdaptivePurePursuit" name="AdaptiveLd" type="AdaptiveLd.py" />
</launch>
